.navbar-container {
    background-color: rgb(245, 63, 63);
}
.text-envio {
    background: hsl(240, 51%, 38%); 
    color: white;
    text-align: center;
    margin-bottom: 0%;
}
.list-item {
    background-color: rgb(245, 63, 63);
    font-size: 1.2rem;
    font-weight: bold;
    color:black;
    text-decoration: none;
    justify-items: center;
    gap: 20%;
}
.list-item :hover {
    color:white;
}

.navbar-title {
    font-family: 'Dancing Script', cursive;
    justify-self: start;
    background-color: rgb(245, 63, 63);
    color:black;
    text-decoration: none;
}
.navbar-title :hover {
    color:white;
}
.icons{
    font-size: 1.6rem;
    background: rgb(245, 63, 63);
}

.btn-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgb(245, 63, 63);
}
